/* This file is for your main application css. */

.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 40px;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
}

.topic__title-link {
  text-decoration: none;
  color: #000;
}

.topic__title-link:hover {
  text-decoration: none;
  color: #000;
}

.topic__title-link:active {
  text-decoration: none;
  color: #000;
}